[Unit]
Description=Robocal scheduler

[Service]
WorkingDirectory=/home/pietro/Schifezze/robocal/wd/
ExecStart=poetry run python ../main.py "../robocal.ini"

[Install]
WantedBy=default.target

